<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container">
    <ul class="nav nav-pills nav-fill">
      <span class="navbar-brand mb-0 h1">LOGO</span>
      <li class="nav-item">
        <a class="nav-link active" href="/admin/products/new"><i class="fas fa-plus"></i> 新增商品</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/products">商品</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orders">訂單</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/users">會員</a>
      </li>
      <br>
    </ul>
    <a class="btn btn-outline-secondary ml-3" href="/signout">登出</a>
  </div>
</nav>
<div class="container card-cantainer">
  <form action="">
    <div class="card my-3">
      <div class="card-body">
        <h4>基本資訊</h4>
        <div class="px-5">
          <div class="form-group row">
            <label for="productName" class="col-sm-2 col-form-label text-right">商品名稱</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="productName">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="productSlogan" class="col-sm-2 col-form-label text-right">商品標語</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="productName">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="productDescription" class="col-sm-2 col-form-label text-right">商品內文</label>
            <div class="col-sm-7">
              <textarea class="form-control" id="productDescription" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="productCategory" class="col-sm-2 col-form-label text-right">商品分類</label>
            <div class="col-sm-7">
              <select class="form-control" id="productCategory">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="productCategory" class="col-sm-2 col-form-label text-right">商品標籤</label>
            <div class="col-sm-7 d-flex align-items-center">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="category1" value="option1">
                <label class="form-check-label" for="category1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="category2" value="option2">
                <label class="form-check-label" for="category2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="category3" value="option2">
                <label class="form-check-label" for="category3">3</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <h4>銷售資訊</h4>
        <div class="px-5">
          <div class="form-group row">
            <label for="productPrice" class="col-sm-2 col-form-label text-right">商品售價</label>
            <div class="col-sm-7">
              <input type="number" class="form-control" id="productPrice">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="productInventory" class="col-sm-2 col-form-label text-right">商品數量</label>
            <div class="col-sm-7">
              <input type="number" class="form-control" id="productInventory">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="productSpec" class="col-sm-2 col-form-label text-right">商品規格</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="productSpec">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="productReleseDate" class="col-sm-2 col-form-label text-right">公開日期</label>
            <div class="col-sm-7">
              <input type="date" class="form-control" id="productReleseDate">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="productSaleDate" class="col-sm-2 col-form-label text-right">發售日期</label>
            <div class="col-sm-7">
              <input type="date" class="form-control" id="productSaleDate">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="productDeadline" class="col-sm-2 col-form-label text-right">預購截止日期</label>
            <div class="col-sm-7">
              <input type="date" class="form-control" id="productDeadline">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="productStatus" class="col-sm-2 col-form-label text-right">商品是否上架</label>
            <div class="col-sm-7">
              <select class="form-control" id="productStatus">
                <option>是</option>
                <option>否</option>
              </select>
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="projectMainImg" class="col-sm-2 col-form-label text-right">商品主圖片</label>
            <div class="custom-file col-sm-7 d-flex align-items-center">
              <input type="file" id="projectMainImg">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="projectImg01" class="col-sm-2 col-form-label text-right">商品其他圖片</label>
            <div class="custom-file col-sm-7 d-flex align-items-center">
              <input type="file" id="projectImg01">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="projectImg02" class="col-sm-2 col-form-label text-right"> </label>
            <div class="custom-file col-sm-7 d-flex align-items-center">
              <input type="file" id="projectImg02">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="projectImg03" class="col-sm-2 col-form-label text-right"> </label>
            <div class="custom-file col-sm-7 d-flex align-items-center">
              <input type="file" id="projectImg03">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="projectImg04" class="col-sm-2 col-form-label text-right"> </label>
            <div class="custom-file col-sm-7 d-flex align-items-center">
              <input type="file" id="projectImg04">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <h4>其他資訊</h4>
        <div class="px-5">
          <div class="form-group row">
            <label for="productSeries" class="col-sm-2 col-form-label text-right">隸屬作品</label>
            <div class="col-sm-7">
              <select class="form-control" id="productSeries">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="productCopyright" class="col-sm-2 col-form-label text-right">版權</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="productCopyright">
            </div>
          </div>
        </div>
        <div class="px-5">
          <div class="form-group row">
            <label for="productMaker" class="col-sm-2 col-form-label text-right">廠商</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="productMaker">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>