<main class="container">
  <div class="card-body pt-4">
    <div class="row col-12">
      <div class="col-6 mx-auto">
        <form class="form-inline d-flex justify-content-end" action="/admin/tags" method="POST">
          <div class="form-group mx-sm-3 mb-2 mt-1">
            <input type="text" class="form-control" name="name" placeholder="輸入新標籤...">
          </div>
          <button type="submit" class="btn btn-primary mb-2 mt-1">新增標籤</button>
        </form>
        <table data-toggle="table" id="table">
          <thead>
            <tr>
              <th data-valign="middle" class="text-center" data-sortable="true">#</th>
              <th data-valign="middle" class="text-center" data-sortable="true">標籤名稱</th>
              <th data-valign="middle" class="text-center">標籤操作</th>
            </tr>
          </thead>
          <tbody>
            {{#each tags}}
              <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>
                  <button type="button" class="btn font-weight-normal">
                    <a href="/admin/user/{{this.id}}/edit " class="text-decoration-none text-dark "><i
                        class="fas fa-edit" title="編輯標籤資料"></i></a>
                  </button>
                  <!-- Delete Button trigger modal -->
                  <button type="button" class="btn font-weight-normal" data-toggle="modal"
                    data-target="#delete_{{this.id}}" title="刪除此會員">
                    <i class="far fa-trash-alt" aria-hidden="true"></i>
                  </button>
                </td>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>