{{#if success}}
<div class="alert alert-success fade show">
  <span>{{success}}</span>
  <button type="button" class="close" data-dismiss="alert">
    <span>&times;</span>
  </button>
</div>
{{else if error}}
<div class="alert alert-danger fade show">
  <span>{{error}}</span>
  <button type="button" class="close" data-dismiss="alert">
    <span>&times;</span>
  </button>
</div>
{{/if}}