{{#if success}}
  <div class="alert alert-success">
    <strong class="alert-msg">{{success}}</strong>
  </div>
{{else if error}}
  <div class="alert alert-danger">
    <strong class="alert-msg">{{error}}</strong>
  </div>
{{/if}}