<nav class="navbar navbar-light bg-light pb-0">
  <div class="container py-3">
    <a class="navbar-brand">LOGO</a>
    <div>
      <a class="btn btn-primary mr-2 btn-top-bar" href="/signin">登入·註冊</a>
      <a class="btn btn-primary btn-top-bar" href="/cart">購物車</a>
    </div>
  </div>

  <div class="container-fluid category-bar">
    <ul class="nav mx-auto">
      <li class="nav-item px-3">
        <a class="nav-link py-4" href="/products">製品一覽</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link py-4" href="/figure">Figure</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link py-4" href="/豆丁人">豆丁人</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link py-4" href="/figma">Figma</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link py-4" href="/組裝模型(仮)">組裝模型(仮)</a>
      </li>
    </ul>
  </div>

  <div class="container-fluid py-2 search-bar">
    <div class="row mx-auto">
      <div class="col-md-12 ">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
            aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-orange" type="button" id="button-addon2">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>