<div class="navbar navbar-light p-0">
  <div class="w-100 bg-white">
    <div class="container py-3">
      <a href="/" class="navbar-brand">LOGO</a>
      <div>
        <a class="btn btn-primary mr-2 btn-top-bar" href="/users/signin">登入·註冊</a>
        <a class="btn btn-primary btn-top-bar pl-4" href="/cart">
          購物車
          <i class="fa fa-shopping-cart fa mt-1"></i>
          <span class="badge badge-danger">{{itemSum}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-light p-0" id="navbar">
  <div class="container-fluid category-bar">
    <ul class="nav mx-auto">
      <li class="nav-item px-3">
        <a class="nav-link py-4 {{#if isAllProducts}}active{{/if}}" 
        href="/products">製品一覽</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link py-4 {{#ifEqual categoryQuery 'Figure'}}active{{/ifEqual}}" 
        href="/products?category=Figure">Figure</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link py-4 {{#ifEqual categoryQuery '豆丁人'}}active{{/ifEqual}}" 
        href="/products?category=豆丁人">豆丁人</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link py-4 {{#ifEqual categoryQuery 'Figma'}}active{{/ifEqual}}" 
        href="/products?category=Figma">Figma</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link py-4 {{#ifEqual categoryQuery '組裝模型(仮)'}}active{{/ifEqual}}" 
        href="/products?category=組裝模型(仮)">組裝模型(仮)</a>
      </li>
    </ul>
  </div>
  <div class="container-fluid py-2 search-bar">
    <div class="row mx-auto">
      <div class="col-md-12 ">
        <form action="/search" method="GET">
          <div class="input-group">
            <input type="text" name="q" class="form-control search-input" placeholder="搜尋商品" value="{{searchQuery}}">
            <input type="hidden" name="category" value="{{categoryQuery}}">
            <div class="input-group-append">
              <button class="btn btn-orange">
                <i class="fas fa-search px-2"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>