<nav class="navbar navbar-light p-0">
  <div class="w-100 bg-white">
    <div class="container py-3">
      <a href="/" class="navbar-brand">LOGO</a>
      <div>
        <a class="btn btn-primary mr-2 btn-top-bar" href="/signin">登入·註冊</a>
        <a class="btn btn-primary btn-top-bar" href="/cart">購物車 {{itemSum}}</a>
      </div>
    </div>
  </div>

  <div class="container-fluid category-bar">
    <ul class="nav mx-auto">
      <li class="nav-item px-3">
        <a class="nav-link py-4" href="/products">製品一覽</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link py-4" href="/figure">Figure</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link py-4" href="/豆丁人">豆丁人</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link py-4" href="/figma">Figma</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link py-4" href="/組裝模型(仮)">組裝模型(仮)</a>
      </li>
    </ul>
  </div>

  <div class="container-fluid py-2 search-bar">
    <div class="row mx-auto">
      <div class="col-md-12 ">
        <form action="/search" method="GET">
          <div class="input-group">
            <input type="text" name="q" class="form-control search-input" placeholder="搜尋商品" value="{{searchQuery}}">
            <div class="input-group-append">
              <button class="btn btn-orange">
                <i class="fas fa-search px-2"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>