<section class="col-md-6 mb-2 py-3 px-1">
  <div class="row panel mx-1">
    <div class="panel-heading col-md-12">
      <div class="mt-3">老顧客</div>
    </div>
    <div class="col-md-12 px-5 mb-1 signCard">
      <div class="col-md-12 pt-4 pl-0 mb-2">
        <h6>老顧客</h6>
        <p class="description pr-5 pl-0 col-7">已經有帳號？在下方登入。</p>
      </div>
      <form class="row" action="/users/signin" method="POST">
        <div class="form-group col-12">
          <input type="text" name="email" class="form-control" placeholder="電子郵件地址*" autocomplete="email" required>
        </div>
        <div class="form-group col-12">
          <input type="password" name="password" class="form-control" placeholder="密碼*" autocomplete="current-password"
            required>
          <a href="#"><small class="form-text text-muted mt-2">忘記密碼？</small></a>
        </div>
        <br>
        <div class="col-12 text-center my-3">
          <button type="submit" class="btn sign-btn">登入</button>
        </div>
      </form>
    </div>
  </div>
</section>