{{#if signInSuccess}}
  <div class="alert alert-successfade show pt-2">
    <div class="d-flex justify-content-around pt-1">
      <span>{{signInSuccess}}</span>
    </div>
  </div>
{{else if signInError}}
  <div class="alert alert-danger fade show pt-2">
    <div class="d-flex justify-content-around pt-1">
      <span>{{signInError}}</span>
    </div>
  </div>
{{/if}}