<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- included style -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  <link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/admin/admin.css">
  {{#if css}}
    <link rel="stylesheet" href="/css/admin/{{css}}.css">
  {{/if}}
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
  <title>您正在後台，請微笑(*´д`)~♥</title>
</head>

<body>
  <nav class="navbar fixed-top navbar-light bg-light">
    <div class="container">
      <ul class="nav nav-pills nav-fill">
        <a href="/" class="mr-3">
          <img src="/img/logo.png" alt="logo">
        </a>
        <li class="nav-item">
          <a class="nav-link {{#ifEqual path '/products/new'}}active{{/ifEqual}}" href="/admin/products/new">
            <i class="fas fa-plus"></i> 新增商品
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#ifEqual path '/products'}}active{{/ifEqual}}" href="/admin/products">商品</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#ifEqual path '/gifts'}}active{{/ifEqual}}" href="/admin/gifts">特典</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#ifEqual path '/categories'}}active{{/ifEqual}}" href="/admin/categories">分類</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#ifEqual path '/tags'}}active{{/ifEqual}}" href="/admin/tags">標籤</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#ifEqual path '/series'}}active{{/ifEqual}}" href="/admin/series">作品別</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#ifEqual path '/users'}}active{{/ifEqual}}" href="/admin/users">會員</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#ifEqual path '/orders'}}active{{/ifEqual}}" href="/admin/orders?mode=uncancel">訂單</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#ifEqual path '/payments'}}active{{/ifEqual}}" href="/admin/payments">交易紀錄</a>
        </li>
        <br>
      </ul>
      <a class="btn btn-outline-secondary ml-3" href="/users/signout">登出</a>
    </div>
  </nav>
  {{{body}}}
  <!-- included script -->
  <import>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
      {{#if js}}
        <script src="/js/{{js}}.js"></script>
      {{/if}}
  </import>
</body>

</html>