<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- included style -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  <link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  {{#if css}}
    <link rel="stylesheet" href="/css/{{css}}.css">
  {{/if}}
  <title>GreatSmile Online Shop</title>
</head>
<body>
  {{> header}}
  {{{body}}}
  <footer class="container-fluid py-3 text-center">
    <a href="jquery:;" class="back-top">
      <i class="fas fa-chevron-up"></i>
    </a>
    <ul class="footer-bar mx-auto">
      <li class="footer-item px-3">
        <a class="footer-link py-4" href="/products">製品一覽</a>
      </li>
      <li class="footer-item px-3">
        <a class="footer-link py-4" href="/figure">Figure</a>
      </li>
      <li class="footer-item px-3">
        <a class="footer-link py-4" href="/豆丁人">豆丁人</a>
      </li>
      <li class="footer-item px-3">
        <a class="footer-link py-4" href="/figma">Figma</a>
      </li>
      <li class="footer-item px-3">
        <a class="footer-link py-4" href="/組裝模型(仮)">組裝模型(仮)</a>
      </li>
    </ul>
    <span class="footer-muted">© 2019 最終溫蒂蕃茄堡</span>
  </footer>
  <!-- included script -->
  <import>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
  </import>
  <script src="/js/main.js"></script>
</body>
</html>