<div class="py-5" style="background: #ebebeb">
  <div class="container">
    <h3>商品詳細</h3>
    <section class="mb-5" style="background: #fff;">
      {{!-- 圖片區塊 --}}
      <div class="row py-4 px-5">
        <div class="col-md-8 text-center">
          <img src="https://via.placeholder.com/530x653" alt="photo">
          <div class="mt-4 d-flex justify-content-center align-items-center">
            <div>左</div>
            <div class="mx-3" style="
              width: 400px;
              overflow: auto;
              text-align: left;
            ">
              <div class="d-inline-block" style="width: 1000px">
                <img src="https://via.placeholder.com/70" alt="photo_list">
                <img src="https://via.placeholder.com/70" alt="photo_list">
                <img src="https://via.placeholder.com/70" alt="photo_list">
                <img src="https://via.placeholder.com/70" alt="photo_list">
                <img src="https://via.placeholder.com/70" alt="photo_list">
                <img src="https://via.placeholder.com/70" alt="photo_list">
              </div>
            </div>
            <div>右</div>
          </div>
        </div>
        <div class="col-md-4">
          <span>Tag</span>
          <div>
            <h4>Product Name</h4>
            <p>作品名: Product Title</p>
            <p>發售日: yyyy年mm月</p>
            <p>NT price</p>
          </div>
          <div class="border py-5">
            <form action="#" method="POST">
              <button class="d-block">加入購物車</button>
              <span>數量</span>
              <input type="number" value="1">
              <span>接受預約中</span>
            </form>
          </div>
          <div>
            <p>※ Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>※ Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      {{!-- 說明區塊 --}}
      <hr>
      <div class="row py-4 px-5">
        <div class="col-md-2">商品介紹</div>
        <div class="col-md-10">
          <p>slogan</p>
          <p>desc</p>
          <p>copyright</p>
        </div>
      </div>
      <hr>
      {{!-- 受理期間 --}}
      <div class="row py-4 px-5">
        <div class="col-md-2">受理期間</div>
        <div class="col-md-10">
          <p>【受注生產】releaseDate 12:00 開始 deadline 21:00 結束。</p>
          <p>無庫存時販售終止</p>
        </div>
      </div>
      <hr>
      {{!-- 特典 --}}
      <div class="row py-4 px-5">
        <div class="col-md-2">特典</div>
        <div class="col-md-6">
          <p>【預約特典】</p>
          <p>購買 Product.name 者，將獲得 Gift.name 一枚</p>
        </div>
        <div class="col-md-4">
          <img class="w-100" src="https://via.placeholder.com/361x400" alt="特典圖">
        </div>
      </div>
      <hr>
      {{!-- 價格、購物車 --}}
      <div class="row py-4 px-5">
        <div class="col-md-2">價格</div>
        <div class="col-md-6">
          <p>NT Product.price</p>
          <div>
            <form action="#" method="POST">
              <button class="d-block">加入購物車</button>
              <span>數量</span>
              <input type="number" value="1">
              <span>接受預約中</span>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <p>※ Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <p>※ Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <hr>
      {{!-- 規格 --}}
      <div class="row py-4 px-5">
        <div class="col-md-2">規格</div>
        <div class="col-md-10">
          <div class="row pr-5">
            <div class="col-md-9 py-2 border-top">Prodcut.name</div>
            <div class="col-md-3 py-2 border-top">商品名</div>
            <div class="col-md-3 py-2 border-top">發售日期</div>
            <div class="col-md-9 py-2 border-top">Prodcut.saleDate</div>
            <div class="col-md-3 py-2 border-top">公告日期</div>
            <div class="col-md-9 py-2 border-top">Prodcut.releaseDate</div>
            <div class="col-md-3 py-2 border-top">製造商</div>
            <div class="col-md-9 py-2 border-top">Prodcut.maker</div>
            <div class="col-md-3 py-2 border-top">作品名</div>
            <div class="col-md-9 py-2 border-top">Prodcut.Series.name</div>
            <div class="col-md-3 py-2 border-top">規格</div>
            <div class="col-md-9 py-2 border-top">Prodcut.spec</div>
          </div>
        </div>
      </div>
    </section>
    <section class="mb-5" style="background: #fff;">
      <div class="p-5">
        <p class="mb-0">※ Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="mb-0">※ Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="mb-0">※ Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="mb-0">※ Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="mb-0">※ Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </section>
  </div>
</div>