<div class="container mb-5">
  <div class="row mt-3">
    <main class="col-md-12">
      {{!-- 麵包屑 + 分頁 --}}
      <div class="row">
        <div class="col-md-12 mb-3">Home > 製品一覽</div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      {{!-- tag + select --}}
      <div class="row d-flex justify-content-between">
        <div class="d-flex align-items-start">
          <ul class="nav-tag">
            <li class="d-inline">
              <a href="#" class="btn btn-sm">預購中</a>
            </li>
            <li class="d-inline">
              <a href="#" class="btn btn-sm">特典</a>
            </li>
            <li class="d-inline">
              <a href="#" class="btn btn-sm">庫存販售商品</a>
            </li>
            <li class="d-inline">
              <a href="#" class="btn btn-sm active">所有商品</a>
            </li>
          </ul>
        </div>
        <div class="d-flex align-items-start">
          <div class="form-group d-inline-block">
            <select class="form-control" id="exampleFormControlSelect1">
              <option>發售日 新→舊</option>
              <option>發售日 舊→新</option>
              <option>價格 低→高</option>
              <option>價格 高→低</option>
            </select>
          </div>
          <a href="#" class="btn btn-display">
            <i class="fas fa-list"></i>
          </a>
          <a href="#" class="btn btn-display">
            <i class="fas fa-th-large"></i>
          </a>
        </div>
      </div>
      {{!-- 商品型錄 --}}
      <div class="row">
        {{#each products}}
        <div class="col-md-2-5 mb-3">
          <div class="card">
            <div class="card-body">
              <img src="{{this.mainImg}}"
                class="card-img-top img-fit mb-3">
              {{#if isPreorder}}  
                <span class="tag tag-preorder">預購中</span>
              {{/if}}
              {{#if isGift}}
              <span class="tag tag-gift">特典</span>
              {{/if}}
              <h5 class="card-title mt-3">{{this.name}}</h5>
              <p class="card-text pt-3 d-flex justify-content-end">NTD {{this.priceFormat}}</p>
            </div>
            <div class="hover ">
              <div class="icon-group">
                <a href="/products/{{this.id}}" class="btn btn-icon px-2 py-2 mx-1 d-inline-block">
                  <img src="/img/magnifying-glass.png">
                </a>
                <form action="/cart" method="POST" class="d-inline-block">
                  <input type="hidden">
                  <button type="submit" class="btn btn-icon px-2 py-2 mx-1">
                    <img src="/img/cart.png">
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{!-- 分頁 --}}
      <div class="row">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </main>
  </div>
</div>