<div class="col-12">
  <form class="col-md-6 mx-auto" action="/signup" method="POST">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
    </div>
    <div>
      <div class="form-label-group">
        <label for="inputName">
          <span>Name</span>
          <span class="text-danger">*</span>
        </label>
        <input type="text" name="name" class="form-control" placeholder="Name" value="{{input.name}}"
          autocomplete="username" required autofocus>
      </div>
      <div class="form-label-group mt-2">
        <label for="inputEmail">
          <span>Email</span>
          <span class="text-danger">*</span>
        </label>
        <input type="email" name="email" class="form-control" placeholder="Email" value="{{input.email}}"
          autocomplete="email" required>
      </div>
      <div class="form-label-group mt-2">
        <label for="inputPassword">
          <span>Password</span>
          <span class="text-danger">*</span>
        </label>
        <input type="password" name="password" class="form-control" placeholder="Password" autocomplete="new-password"
          required>
      </div>
      <div class="form-label-group mt-2">
        <label for="inputPasswordCheck">
          <span>Password Check</span>
          <span class="text-danger">*</span>
        </label>
        <input type="password" name="passwordCheck" class="form-control" placeholder="Password Check"
          autocomplete="new-password" required>
      </div>
      <input hidden type="text" name="nickname" class="form-control" value="defaultNickName">
      <input hidden type="text" name="phone" class="form-control" value="0000-000-000">
      <input hidden type="text" name="address" class="form-control" value="defaultAddress">
      <input hidden type="text" name="gender" class="form-control" value="M">
      <br />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      <div class="text-center my-4">
        <p><a href="/signin">Sign In</a></p>
      </div>
    </div>
  </form>
</div>