<main class="container pt-2 pb-0">
  <div class="row">
    {{#ifEqual path '/signin'}}
      {{> signUp}}
      {{> signIn}}
    {{/ifEqual}}
 
    {{#ifEqual path '/signin/checkout'}}
      {{> signIn}}
      {{> signUp}}
    {{/ifEqual}}
  </div>
</main>