.btn-sm {
  line-height: .75rem;
  padding: .25rem .35rem
}

.btn-outline-secondary {
  border: 0;
}

.btn-outline-secondary:hover {
  color: #454545;
  font-weight: bold;
  line-height: .75rem;
  background-color: #f0ebe5;
}

.btn-unavailable.disabled, .btn-unavailable:hover {
  opacity: 0.3;
  font-weight: normal;
  cursor: default;
}

.btn-sub {
  z-index: 1;  /* 防止點擊特效被蓋掉 */
}

.cart-amount {
  margin: 0 18px;
}

.cart-btn {
  display: inline-block;
  background: #ff5400;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  height: 69px;
  line-height: 50px;
}

.cart-product {
  margin: 0 18px 15px 18px;
}

.continue-btn a { 
   background: #eeeeee;
   color: #777;
}

.font-format {
  color: #454545;
  font-size: 12px;
}

.font-format-bold {
  font-size: 13.2px;
  font-weight: bold;
}

.img-fit {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-quantity {
  background-color: #f0ebe5;
  border: 1px solid #e0dbd3;
  border-radius: 5px;
}

.item-quantity input {
  color: #454545;
  line-height: .75rem;
  width: 3rem;
  text-align: center;
  padding: .25rem .35rem;
  border: 0;
  background-color: #f0ebe5;
}

.item-title {
  color: #727272;
  font-size: 12px;
  font-weight: bold;
}

.note {
  color: #dc3545;
}

.panel {
  background-color: #ffffff;
  border-radius: 20px;
  margin: 0 15px;
}

aside .panel {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .25);
}

.panel-heading {
  padding: 10px 15px;
  font-size: 22px;
  border-bottom: 1px solid rgb(221, 221, 221);
}
.panel-heading div {
  margin: 0 18px;
}

.product-btn {
  color: #454545;
  font-size: 14px;
  cursor: pointer;
}

.product-btn:hover {
  color: #2a6496;
}

.product-img {
  width: 95px;
  height: 120px;
  background-color: #eee;
  display: block;
}

.product-name {
  font-size: 16px;
}

.product-tag {
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 6px;
}

.tag-gift {
  background-color: #ffe14d;
  color: #e53900;
}

.tag-preorder {
  background-color: #34A853;
  color: #ffffff;
}

/* 移除數量 <input> 的上下箭頭 */
input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
