h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.panel {
  border-radius: 20px;
  background: #fff;
}

/* nav step */
.step {
  font-size: .9rem;
}

.step li {
  border-top: 3px solid #eee;
  color: #d6d6d6;
  font-weight: bolder;
}

.step li.active {
  border-top: 3px solid #ff9400;
  color: #000;
  font-weight: normal;
}

/* form */
.font-small {
  font-size: .85rem;
}

.font-smaller {
  font-size: .7rem;
}

.form-row [class*='col'] {
  margin: 0 0 .75rem 0;
}

.form-row input {
  display: block;
  background: #f8f5f1;
  border: 1px solid #e0dbd3;
  padding: .3rem;
  border-radius: 5px;
  width: 100%;
}

.order-btn {
  display: inline-block;
  background: #ff5400;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

/* input radio */
.radio-label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.2rem;
  left: -0.2rem;
  width: 20px;
  height: 20px;
  background: #f0ebe5;
  border: 2px solid #e0dbd3;
  border-radius: 50%;
}

input[type=radio]:checked+label::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.3rem;
  left: -0.1rem;
  width: 17px;
  height: 17px;
  border: 5px solid #ff9600;
  border-radius: 50%;
}

/* aside */
aside .panel {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .25);
}

.prod-list .row {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid #dee2e6;
}

.prod-list .row:nth-last-child(1) {
  border-bottom: 0;
}

.prod-list img {
  width: 52px;
  height: 52px;
  padding: 2px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
}

.prod-list a {
  color: #000;
}

.prod-list a:hover {
  color: #2a6496;;
  text-decoration: none;
}
