/* 麵包屑 */
.bread {
  font-size: .85rem;
}

.bread a {
  color: #707070;
}

.page-item.active .page-link,
.page-link:hover i,
.page-link:hover {
  background-color: #ff9600;
  color: #ffffff;
  border-radius: 5px;
}

.page-link i {
  color: hsl(30, 8%, 59%);
}

.btn-icon {
  background-color: #ffffff;
  border-radius: 8px;
}

.btn-icon:hover {
  background-color: #ff9600;
}

.btn-icon i {
  width: 40px;
}

.btn-sm {
  border-radius: 10px;
  padding: 10px 15px;
}

.card {
  position: relative;
  border-radius: 10px;
}

.card:hover .hover{
  display: block;
}

.card-bg {
  height: 242.71px;
  background-color: #eee;
}

.card-title {
  font-size: 12px;
  height: 2rem;
}

.card-text {
  font-size: 12px;
}

.hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(140, 140, 140, 0.8);
}

.icon-group {
  padding-top: 100px;
}

.nav-tag {
  padding: 0;
}

.nav-tag li .active{
  color: #ffffff;
  background-color: #ff9600;
  border-radius: 10px;
}

.page-link {
  border: 0;
  background-color: #ebebeb;
  color: #454545;
}

.page-link:hover {
  background-color: #ff9600;
  color: #ffffff;
}

.row li {
  list-style-type: none;
}

.tag {
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 6px;
}

.tag-gift {
  background-color: #ffe14d;
  color: #e53900;
  
}

.tag-preorder {
  background-color: #34A853;
  color: #ffffff;
}

.tag-sold-out {
  background-color: #9E9E9F;
  color: #ffffff;
}