
.item-list {
  list-style:none;
  padding-inline-start: 10px;
  padding-top: 10px;
  line-height: 2rem;
  font-size: 0.9rem;
}

.panel {
  background-color: #ffffff;
  border-radius: 20px;
  margin: 0 15px;
}

.panel-item {
  background-color: #f8f8f8ff;
  border-radius: 20px;
  margin: 0px;
  height: 182px;
  width: 100%;
}

.panel-heading {
  padding: 10px 15px;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.panel-item-heading {
  padding: 10px 10px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.panel-heading div {
  margin: 0 18px;
}

.side-heading {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
}

.side-item-list {
  list-style: none;
  padding-inline-start: 10px;
  padding-top: 10px;
  line-height: 2rem;
  font-size: 0.9rem;
}

.side-box-shadow {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .25);
}

.profile-link a {
  color: #258fb8;
  text-decoration: none;
}