.alertBlock {
  min-height: 48px;
  max-height: 48px;
}

.container {
  max-width: 1250px;
}

main.container {
  padding-top: 56px;
}

#table > tbody {
  font-size: 14px;
}

#table > thead {
  background-color: #6c757d;
  color: white;
}

.table-bordered td, .table-bordered th {
  border: 0px solid #dee2e6;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}