{{!-- 結帳步驟 step nav --}}
<nav class="step border-bottom px-2">
  <ul class="nav justify-content-around">
    <li class="px-4 py-3 {{#ifEqual view "checkout_1"}}active{{/ifEqual}}">1.收件地址</li>
    <li class="px-4 py-3 {{#ifEqual view "checkout_2"}}active{{/ifEqual}}">2.寄件方式</li>
    <li class="px-4 py-3 {{#ifEqual view "checkout_3"}}active{{/ifEqual}}">3.付款&帳單</li>
    <li class="px-4 py-3 {{#ifEqual view "checkout_4"}}active{{/ifEqual}}">4.最後檢視</li>
  </ul>
</nav>